#Folders
.vscode/
.settings/
work/
output/
obj_dir/
sigasi-doc/

# Files
Testcase to do.txt
Readme.md.new
Block Diagram.svg
Dependencies.svg
latest_run_iverilog.txt
verilator.f
verilator_op.txt

# Extensions
*.xml
*.code-workspace
*.out
*.bak
*.mpf
*.mti
*.json
*.vvp
*.c
*.exe
*.pdb
*.ilk
*.project
*.gitignore
