#Folders
.vscode/
.settings/
work/
output/
obj_dir/
sigasi-doc/

# Files
Testcase to do.txt
Readme.md.new

# Extensions
*.xml
*.code-workspace
*.out
*.bak
*.mpf
*.mti
*.json
*.vvp
*.c
*.exe
*.pdb
*.ilk
*.project
*.gitignore
